<form method="post" action="/pizza_orders/<%= @order.id %>">
  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name" value="<%= @order.first_name %>">

  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="last-name" value="<%= @order.last_name %>">

  <label for="pizza-select">Select a pizza:</label>
    <select id="pizza-select" name="topping">
      <option value="Margherita">Margherita</option>
      <option value="Calzone">Calzone</option>
      <option value="Pepperoni">Pepperoni</option>
      <option value="Italian Sausage">Italian Sausage</option>
    </select>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" id="quantity" value="<%= @order.quantity %>">

  <input type="submit" value="Update Pizza Order">

</form>
