<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/pizza_orders">Pizza Orders</a>
      </li>
      <li>
        <a href="/pizza_orders/new">Make an order</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
